#!/bin/bash
#CONFIG
LIVE="www/wordpress/wp-content/themes/wpkick"

read oldrev newrev refname
if [ $refname = "refs/heads/master" ]; then  
	echo "===== DEPLOYING TO LIVE SITE ====="  
	unset GIT_DIR
	cd $LIVE
	git pull origin master
	echo "===== DONE ====="
fi
